<% if user_signed_in?%>
<nav class="navbar navbar-default navbar-light bg-light" style="box-shadow: 1px 1px grey;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= image_tag("deepx_icon_org.png", :size => "80x40") %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
      </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li >
          <%= link_to 'マイページ', home_about_path, class: "nav-link text-dark", style: "font-weight: bold; color: black;" %>
        </li>
        <li >
          <%= link_to '案件一覧', friends_path, class: "nav-link", style: "font-weight: bold; color: black;" %>
        </li>
        <li>
          <%= link_to '案件登録', new_friend_path, class: "nav-link", style: "font-weight: bold; color: black;" %>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="dropdown" style="margin-top:10px">
            <button class="btn btn-default dropdown-toggle" style="color:#00008B; border: none; outline:none; background:none;" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <%= icon('gear fa-1x') %> <label style="font-weight:bold;">設定</label>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><label style="line-height:25px; margin-left:15px; color:grey"><%=current_user.email%></label></li>
              <li><a href="#" style="line-height:25px; font-weight:bold;">企業一覧</a></li>
              <li><a href="#" style="line-height:25px; font-weight:bold;">企業情報変更</a></li>
              <li><a href="#" style="line-height:25px; font-weight:bold;">ユーザー一覧</a></li>
              <li><a href="#" style="line-height:25px; font-weight:bold;">ユーザー情報変更</a></li>
              <li><%= link_to 'ユーザーID変更', edit_user_registration_path, style: "line-height:25px; font-weight:bold;" %> </li>
              <li><%= link_to 'パスワード変更', edit_user_registration_path, style: "line-height:25px; font-weight:bold;" %> </li>
              <li role="separator" class="divider"></li>  
              <li><%= link_to 'ログアウト', destroy_user_session_path, style: "line-height:20px; color:#00008B; font-weight:bold;", method: :delete %></li>
            </ul>
          </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<%else%>
 <% new_user_registration_path%>
<%end%>
