<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <title><%= t(".title") %></title>
</head>
<body>
<div class="container">
  <div style="margin-top:100px;">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="error-container">
          <div class="well">
            <h3 class="grey lighter smaller"><%= "ページが見つかりません" %></h3>
            <hr />
            <p class="text-warning"><%= "指定されたURLのページは存在しません。" %></p>
            <p class="text-warning"><%= "画面内のリンクからアクセスしてこの画面が表示される場合は、" %></p>
            <p class="text-warning"><%= "お問い合わせください。" %></p>
            <hr />
            <div style="text-align: center;">
              <a class="btn btn-default" href="/"><%= "トップへ戻る" %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
