<!DOCTYPE html>
<html>
  <head>
    <title>(development)ページタイトル</title>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application'%>
    <%= stylesheet_link_tag  'application', media: 'all'%>
    <script src="https://www.google.com/recaptcha/api.js?hl=ja"></script>
  </head>
  <body>
    <%= render 'home/header' %>
    <div class="container">
      <% if notice.present? %>
        <%= render 'layouts/notice' %>
      <%end%>
      <% if alert.present? %>
        <%= render 'layouts/alert' %>
      <%end%>
      <%= yield %>
    </div>
  </body>
</html>
